.home-container {
  padding: 20px;
  background-color: #eef2f7;
  min-height: 100vh;
  position: relative;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: -0rem;
}

@media (min-width: 768px) {
  .title {
      font-size: 3.75rem;
  }
}

.subtitle {
  font-size: 1.125rem;
  color: white;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .subtitle {
      font-size: 1.5rem;
  }
}

.cta-button {
  border: 2px solid white;
  color: rgb(4, 4, 4);
  padding: 10px 24px;
  border-radius: 999px;
  font-size: 1.125rem;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

@media (min-width: 768px) {
  .cta-button {
      font-size: 1.25rem;
  }
}

.cta-button:hover {
  background-color: #f6f6e9;
  transform: scale(1.05);
}

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 2.0rem;
  margin-bottom: 16px;
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
}

.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.nav-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 12px;
}

.item-list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 10px 0;

  /* Thêm các dòng dưới để ẩn thanh cuộn */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.item-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.item {
  aspect-ratio: 3 / 2;
  flex: 0 0 25%; 
  min-width: 5%;
  height: 120px;
  background-color: #77aadd;
  border-radius: 12px;
  flex-shrink: 0;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); /* nền đen mờ */
  color: white;
  padding: 10px;
  transform: translateY(100%); /* ẩn phần này ban đầu */
  transition: transform 0.3s ease;
  text-align: center;
}

.card:hover .card-content {
  transform: translateY(0); /* hiện nội dung khi hover */
}

